*{paading: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: "Open Sans" sans-serif;

}
/* ---navbar--- */
main{
    display: flex;
    justify-content: space-between;
    background-color: #cccc;
}
nav{
    display: flex;
    align-items: center;
    background-color: #4D636F;
    height: 53.8px;
    left:0;
    right: 0;
    color: white;

}
.elements{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    gap: 70px;
}
.profile{
    right: 30px;
    margin-left: 1100px;

}
.profile-action{
    background-color: #6a7880;
    margin-top: 30px;
    margin-right: 90px;
    display: block;

}
nav a{
    color: white;
}
.profile img{
    width: 23px;
    height: 23px;
    border-radius: 20px;

}
.logo{
    font-size: 20px;
    background-color: #344c59;
    height: 53.8px;
    width: 116.6px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.elements{
    font-size: 20px;
    background-color: #344c59;
    height: 53.8px;
    width: 116.6px;
    display:flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100px;
    height: 100px;
}
section{
    margin: 1%;
}
.my-profile{
    height: 300px;
    width:316.511px;
    padding: 2px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20ppx;
}
.my-profile img{
    width:106px;
    height: 106px;
    border-radius: 100px;
    display: inline;
    overflow: clip;
    vertical-align: middle;
    align-items: center;
    margin-right: 100px;

}
.my-profile p{
    display: block;
    font-size: 15px;
    line-height: 22.5px;
    height: 22.5px;
    width: 309.987px;
    margin: 15px 0 15px 0;
    align-items: end;
    padding-top: 20px;

}.my-profile p i{
    margin-right: 8px;
}
.one h1{
    height: 30px;
    width: 309.987px;
    margin: 10px 0 10px 0;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 30px;

}
.tags{
    margin-top: 9px;
    height: 135px;
    padding: 2px;
    background-color: white;
    font-size: 15px;
    font-family: serif;

    display: inline-block;
    padding-right: 30px;

}
.tag span{
    font-size: 20px;
    font-family: "open sans" sans-serif;
    margin: 0 20px;
}
#ta {
    display: flex;
    gap: 3px;
    margin: 4px 20px;
}
#ta p{
    padding: 5px 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 10px;
}
#news{
    background-color: #3a4be53;
    color:white;
}
#label{
    background-color:#303e45 ;
    color: white;
}
#w3schools{
    background-color: #3a4be53;
    color: white;

}
#game{
    background-color: #4d636f;
    color: white;

}
#friends{
    background-color: #57707d;
    color: white;

}
#game{
    background-color: #607d8b;
    color: white;
}
#friend{
    background-color: #3a4be53;
    color: white;

}
#food{
    background-color: #9eb1bb;
    color:black;

}
#design{
    background-color: #becbd2;
    color:black;
}
#art{
    background-color: #9eb1bb;
    color:black;
}
#photographs{
    background-color: #f5f7f8;
    color:black;
}
.nb{
    background-color: #dfe5e8;
    height: 114.648;
    width: 316.511px;
}
.john p{

}
.nb span {
    display: flex;
    justify-content: first baseline;
    margin: 0 20px;
    font-size: 18px;
    padding: 20px 0 20px 0;
  }
  .nb p {
    padding: 0 0 10px 0;
    max-width: 300px;
    margin: 0 20px;
  }
  .status {
    max-height: 158.6px;
    width: 765.975px;
    background-color: #f5f7f8;
    padding: 8px 16px 8px 16px;
    margin: 15px 0 15px 0;
  }
  .status span {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: left;
    background-color: #57707d;
    font-weight: lighter;
    color: grey;
    font-size: 14px;
  }
  .status button {
    background-color: #57707d;
    color: white;
    font-size: 14px;
    padding: 8px 16px 8px 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
    height: 38.5px;
    width: 83.2px;
    margin-right: 700px;
    margin-top: 10px;
  }
  .john-doe {
    background-color: #ffffff;
    /* background-position: 0% 0%; */
    color: #000000;
    height: 528.425px;
    width: 765.987px;
    margin: 16px 16px 16px 16px;
    padding: 0 16px 0 16px;
  }
  .john img {
    height: 59.875px;
    width: 60px;
    margin-left: 20px;
    float: left;
    display: block;
    overflow: clip;
    border-radius: 60%;
    line-height: 22.5px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .john-doe h3 {
    font-size: 20px;
    color: #000000;
    display: flex;
    padding-top: 30px;
    text-align: left;
    padding-left: 20px;
  }
  .john-doe p {
    font-size: 14px;
    color: #777777;
    display: flex;
    line-height: 20px;
    padding-top: 20px;
    text-align: left;
    border-top: 1px solid #777777;
    width: 733.987px;
    height: 67.5px;
    padding-left: 20px;
  }
  .images{
    padding-top: 30px;
    padding-left: 20px;
  }
  #nature{
    height: 239.325px;
    width: 348px;
    margin: 0 0 16px 0;
    padding-right: 10px;
  }
  #forest{
    height: 239.325px;
    width: 358.9px;
    margin: 0 0 16px 0;
  }
  #status {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: grey;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 1px;
    background-color: #7d97a5;
    height: 40.1px;
    width: 733.975px;
  }
  .button1 {
    background-color: #57707d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  


